
@keyframes fadeColors {
    0% {
        background-color: #ff0072;
        color: white;
    }

    25% {
        background-color: #61ff00;
        color: white;
    }

    35% {
        color: black;
    }

    50% {
        background-color: #fffe00;
    }

    65% {
        color: white;
    }

    75% {
        background-color: #00daff;
        color: white;
    }

    100% {
        background-color: #ff0072;
        color: white;
    }
}


@-moz-keyframes fadeColors {
    0% {
        background-color: #ff0072;
        color: white;
    }

    25% {
        background-color: #61ff00;
        color: white;
    }

    35% {
        color: black;
    }

    50% {
        background-color: #fffe00;
    }

    65% {
        color: white;
    }

    75% {
        background-color: #00daff;
        color: white;
    }

    100% {
        background-color: #ff0072;
        color: white;
    }
}

@-webkit-keyframes fadeColors {
    0% {
        background-color: #ff0072;
        color: white;
    }

    25% {
        background-color: #61ff00;
        color: white;
    }

    35% {
        color: black;
    }

    50% {
        background-color: #fffe00;
    }

    65% {
        color: white;
    }

    75% {
        background-color: #00daff;
        color: white;
    }

    100% {
        background-color: #ff0072;
        color: white;
    }
}


@-o-keyframes fadeColors {
    0% {
        background-color: #ff0072;
        color: white;
    }

    25% {
        background-color: #61ff00;
        color: white;
    }

    35% {
        color: black;
    }

    50% {
        background-color: #fffe00;
    }

    65% {
        color: white;
    }

    75% {
        background-color: #00daff;
        color: white;
    }

    100% {
        background-color: #ff0072;
        color: white;
    }
}



/******************************FADE TEXT COLORS**************************************************/

@keyframes fadeTextColors {
    0% {
        color: #ff0072;
    }

    25% {
        color: #61ff00;
    }

    50% {
        color: #fffe00;
    }

    75% {
        color: #00daff;
    }

    100% {
        color: #ff0072;
    }
}


@-moz-keyframes fadeTextColors {
    0% {
        color: #ff0072;
    }

    25% {
        color: #61ff00;
    }

    50% {
        color: #fffe00;
    }

    75% {
        color: #00daff;
    }

    100% {
        color: #ff0072;
    }
}

@-webkit-keyframes fadeTextColors {
    0% {
        color: #ff0072;
    }

    25% {
        color: #61ff00;
    }

    50% {
        color: #fffe00;
    }

    75% {
        color: #00daff;
    }

    100% {
        color: #ff0072;
    }
}


@-o-keyframes fadeTextColors {
    0% {
        color: #ff0072;
    }

    25% {
        color: #61ff00;
    }

    50% {
        color: #fffe00;
    }

    75% {
        color: #00daff;
    }

    100% {
        color: #ff0072;
    }
}




@keyframes hoverFrames {
    0% {
        top: 0px;
        left: 0px;
        opacity: 1;
        -moz-transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
        -ms-transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
        -o-transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
        -webkit-transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
        transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
    }

    13% {
        top: 20px;
        left: -50px;
    }

    26% {
        top: -20px;
        left: -25px;
    }

    40% {
        top: -50px;
        left: 0px;
    }

    53% {
        top: -20px;
        left: -50px;
    }

    66% {
        top: 0px;
        left: -27px;
    }

    79% {
        top: -20px;
        left: 0px;
    }

    90% {
        top: 0px;
    }

    100% {
        top: 0px;
        left: 0px;
        opacity: 1;
        -moz-transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
        -ms-transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
        -o-transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
        -webkit-transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
        transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
    }
}

@-moz-keyframes hoverFrames {
    0% {
        top: 0px;
        left: 0px;
        opacity: 1;
        -moz-transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
        -ms-transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
        -o-transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
        -webkit-transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
        transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
    }

    13% {
        top: 20px;
        left: -50px;
    }

    26% {
        top: -20px;
        left: -25px;
    }

    40% {
        top: -50px;
        left: 0px;
    }

    53% {
        top: -20px;
        left: -50px;
    }

    66% {
        top: 0px;
        left: -27px;
    }

    79% {
        top: -20px;
        left: 0px;
    }

    100% {
        top: 0px;
        left: 0px;
        opacity: 1;
        -moz-transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
        -ms-transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
        -o-transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
        -webkit-transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
        transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
    }
}

@-webkit-keyframes hoverFrames {
    0% {
        top: 0px;
        left: 0px;
        opacity: 1;
        -moz-transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
        -ms-transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
        -o-transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
        -webkit-transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
        transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
    }

    13% {
        top: 20px;
        left: -50px;
    }

    26% {
        top: -20px;
        left: -25px;
    }

    40% {
        top: -50px;
        left: 0px;
    }

    53% {
        top: -20px;
        left: -50px;
    }

    66% {
        top: 0px;
        left: -27px;
    }

    79% {
        top: -20px;
        left: 0px;
    }

    100% {
        top: 0px;
        left: 0px;
        opacity: 1;
        -moz-transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
        -ms-transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
        -o-transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
        -webkit-transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
        transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
    }
}

@-o-keyframes hoverFrames {
    0% {
        top: 0px;
        left: 0px;
        opacity: 1;
        -moz-transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
        -ms-transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
        -o-transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
        -webkit-transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
        transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
    }

    13% {
        top: 20px;
        left: -50px;
    }

    26% {
        top: -20px;
        left: -25px;
    }

    40% {
        top: -50px;
        left: 0px;
    }

    53% {
        top: -20px;
        left: -50px;
    }

    66% {
        top: 0px;
        left: -27px;
    }

    79% {
        top: -20px;
        left: 0px;
    }

    100% {
        top: 0px;
        left: 0px;
        opacity: 1;
        -moz-transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
        -ms-transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
        -o-transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
        -webkit-transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
        transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
    }
}

@-ms-keyframes hoverFrames {
    0% {
        top: 0px;
        left: 0px;
        opacity: 1;
        -moz-transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
        -ms-transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
        -o-transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
        -webkit-transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
        transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
    }

    13% {
        top: 20px;
        left: -50px;
    }

    26% {
        top: -20px;
        left: -25px;
    }

    40% {
        top: -50px;
        left: 0px;
    }

    53% {
        top: -20px;
        left: -50px;
    }

    66% {
        top: 0px;
        left: -27px;
    }

    79% {
        top: -20px;
        left: 0px;
    }

    100% {
        top: 0px;
        left: 0px;
        opacity: 1;
        -moz-transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
        -ms-transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
        -o-transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
        -webkit-transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
        transform: rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);
    }
}




/* Header */

.mainLogo, .subLogo, .video-main .darkLayer, .video-main, .video-main video, .video-caption, .video-caption .captionContent, .video-caption .caption, .cover, .video-caption .trackname, .video-caption .play, .cover .coverImage img, .cover .coverImage, .contentContainer, #promoVideo, .socialDiv, .socialDiv a, .toggleMobileMenu {
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
    -moz-transition-duration: 1000ms;
    -o-transition-duration: 1000ms;
    -webkit-transition-duration: 1000ms;
    transition-duration: 1000ms;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    -moz-transition-property: all;
    -o-transition-property: all;
    -webkit-transition-property: all;
    transition-property: all;

}

    .video-caption .caption {
        -moz-transition-delay: 0.2s;
        -o-transition-delay: 0.2s;
        -webkit-transition-delay: 0.2s;
        transition-delay: 0.2s;
    }

.socialDiv {
    -moz-transition-delay: 1.6s;
    -o-transition-delay: 1.6s;
    -webkit-transition-delay: 1.6s;
    transition-delay: 1.6s;
}

.cover .info, .mainLogo .menu, .menu a, .mobileMenu {
    -moz-transition-duration: 0.6667s;
    -o-transition-duration: 0.6667s;
    -webkit-transition-duration: 0.6667s;
    transition-duration: 0.6667s;
}

.mainLogo {
    margin: -600px auto;
    z-index: 50;
}



body.loaded .mainLogo {
    margin: 60px auto 0 auto;
    width: 250px;
}
