.lineAnimation{
    animation: animationFrames ease-in-out 12s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
    animation-delay: 2s;
    -webkit-animation: animationFrames ease-in-out 12s;
    -webkit-animation-iteration-count: infinite;
    -webkit-transform-origin: 50% 50%;
    -webkit-animation-delay: 2s;
    -moz-animation: animationFrames ease-in-out 12s;
    -moz-animation-iteration-count: infinite;
    -moz-transform-origin: 50% 50%;
    -moz-animation-delay: 2s;
    -o-animation: animationFrames ease-in-out 12s;
    -o-animation-iteration-count: infinite;
    -o-transform-origin: 50% 50%;
    -o-animation-delay: 2s;
    -ms-animation: animationFrames ease-in-out 12s;
    -ms-animation-iteration-count: infinite;
    -ms-transform-origin: 50% 50%;
    
  }
  
  @keyframes animationFrames{
    0% {
        opacity:1;
        
      }
      20% {
        opacity:1;        
        width:100%;        
        float: right;
      }
      30% {
        opacity:1;        
        width:100%;        
        float: left;
      }
      40% {
        opacity:1;        
        width:4px;        
        float: left;
      }
    43% {
      opacity:0;
      float:left;
      width:4px;
      
    }
    46% {
      opacity:1;
      float:left;
      width:4px;
      
    }
    49% {
      opacity:0;
      float:left;
      width:4px;
      
    }
    52% {
      opacity:1;
      float:left;
      width:4px;
      
    }
    55% {
        opacity:0;
        float:left;
        width:4px;
        
      }
      58% {
        opacity:1;
        float:left;
        width:4px;
        
      }
      61% {
        opacity:0;
        float:left;
        width:4px;
        
      }
      64% {
        opacity:1;
        float:left;
        width:4px;        
      }
      80%{
        float:left;
        width: 100%;
      }
      90%
      {
          float:right;
          width:100%;
      }
    100% {
      opacity:1;
      float:right;
      width:4px;
    }
  }
  
  @-moz-keyframes animationFrames{
    0% {
        opacity:1;
        
      }
      20% {
        opacity:1;        
        width:100%;        
        float: right;
      }
      30% {
        opacity:1;        
        width:100%;        
        float: left;
      }
      40% {
        opacity:1;        
        width:4px;        
        float: left;
      }
    43% {
      opacity:0;
      float:left;
      width:4px;
      
    }
    46% {
      opacity:1;
      float:left;
      width:4px;
      
    }
    49% {
      opacity:0;
      float:left;
      width:4px;
      
    }
    52% {
      opacity:1;
      float:left;
      width:4px;
      
    }
    55% {
        opacity:0;
        float:left;
        width:4px;
        
      }
      58% {
        opacity:1;
        float:left;
        width:4px;
        
      }
      61% {
        opacity:0;
        float:left;
        width:4px;
        
      }
      64% {
        opacity:1;
        float:left;
        width:4px;        
      }
      80%{
        float:left;
        width: 100%;
      }
      90%
      {
          float:right;
          width:100%;
      }
    100% {
      opacity:1;
      float:right;
      width:4px;
    }
  }
  
  @-o-keyframes animationFrames {
    0% {
        opacity:1;
        
      }
      20% {
        opacity:1;        
        width:100%;        
        float: right;
      }
      30% {
        opacity:1;        
        width:100%;        
        float: left;
      }
      40% {
        opacity:1;        
        width:4px;        
        float: left;
      }
    43% {
      opacity:0;
      float:left;
      width:4px;
      
    }
    46% {
      opacity:1;
      float:left;
      width:4px;
      
    }
    49% {
      opacity:0;
      float:left;
      width:4px;
      
    }
    52% {
      opacity:1;
      float:left;
      width:4px;
      
    }
    55% {
        opacity:0;
        float:left;
        width:4px;
        
      }
      58% {
        opacity:1;
        float:left;
        width:4px;
        
      }
      61% {
        opacity:0;
        float:left;
        width:4px;
        
      }
      64% {
        opacity:1;
        float:left;
        width:4px;        
      }
      80%{
        float:left;
        width: 100%;
      }
      90%
      {
          float:right;
          width:100%;
      }
    100% {
      opacity:1;
      float:right;
      width:4px;
    }
  }
  
  @-ms-keyframes animationFrames {
    0% {
        opacity:1;
        
      }
      20% {
        opacity:1;        
        width:100%;        
        float: right;
      }
      30% {
        opacity:1;        
        width:100%;        
        float: left;
      }
      40% {
        opacity:1;        
        width:4px;        
        float: left;
      }
    43% {
      opacity:0;
      float:left;
      width:4px;
      
    }
    46% {
      opacity:1;
      float:left;
      width:4px;
      
    }
    49% {
      opacity:0;
      float:left;
      width:4px;
      
    }
    52% {
      opacity:1;
      float:left;
      width:4px;
      
    }
    55% {
        opacity:0;
        float:left;
        width:4px;
        
      }
      58% {
        opacity:1;
        float:left;
        width:4px;
        
      }
      61% {
        opacity:0;
        float:left;
        width:4px;
        
      }
      64% {
        opacity:1;
        float:left;
        width:4px;        
      }
      80%{
        float:left;
        width: 100%;
      }
      90%
      {
          float:right;
          width:100%;
      }
    100% {
      opacity:1;
      float:right;
      width:4px;
    }
  }