.lineRightToLeft{
    animation: animationRightToLeft ease-in-out 15s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
    animation-delay: 3.5s;
    -webkit-animation: animationRightToLeft ease-in-out 15s;
    -webkit-animation-iteration-count: infinite;
    -webkit-transform-origin: 50% 50%;
    -webkit-animation-delay: 3.5s;
    -moz-animation: animationRightToLeft ease-in-out 15s;
    -moz-animation-iteration-count: infinite;
    -moz-transform-origin: 50% 50%;
    -moz-animation-delay: 3.5s;
    -o-animation: animationRightToLeft ease-in-out 15s;
    -o-animation-iteration-count: infinite;
    -o-transform-origin: 50% 50%;
    -o-animation-delay: 3.5s;
    -ms-animation: animationRightToLeft ease-in-out 15s;
    -ms-animation-iteration-count: infinite;
    -ms-transform-origin: 50% 50%;
    
  }
  
  @keyframes animationRightToLeft{
    0% {
        opacity:1;
        
      }
      15% {
        opacity:1;        
        width:100%;        
        float: right;
      }
      20% {
        opacity:1;        
        width:100%;        
        float: left;
      }
      30% {
        opacity:1;        
        width:1px;        
        height:1px;        
        float: left;
      }
      33% {
        opacity:1;
        float:left;
        width:10px;        
        height:10px; 
        
      }
      36% {
        opacity:0;
        float:left;
        width:10px;        
        height:10px;
        
      }
      39% {
        opacity:1;
        float:left;
        width:10px;        
        height:10px;
        
      }
    43% {
      opacity:0;
      float:left;
      width:10px;        
      height:10px;
      
    }
    46% {
      opacity:1;
      float:left;
      width:10px;        
      height:10px;
      
    }
    49% {
      opacity:0;
      float:left;
      width:10px;        
      height:10px;
      
    }
    52% {
      opacity:1;
      float:left;
      width:10px;        
        height:10px;
      
    }
    55% {
        opacity:0;
        float:left;
        width:10px;        
        height:10px;
        
      }
      58% {
        opacity:1;
        float:left;
        width:10px;        
        height:10px; 
        
      }
      61% {
        opacity:0;
        float:left;
        width:10px;        
        height:10px;
        
      }
      64% {
        opacity:1;
        float:left;
        width:1px;        
        height:1px;         
      }
      75%{
        float:left;
        width: 100%;
      }
      85%
      {
          float:right;
          width:100%;
      }
      90%{
        opacity:1;
        float:right;
        width:1px;
      }
    100% {
      opacity:1;
      float:right;
      width:1px;
    }
  }
  
  @-moz-keyframes animationRightToLeft{
    0% {
        opacity:1;
        
      }
      15% {
        opacity:1;        
        width:100%;        
        float: right;
      }
      20% {
        opacity:1;        
        width:100%;        
        float: left;
      }
      30% {
        opacity:1;        
        width:1px;        
        height:1px;        
        float: left;
      }
      33% {
        opacity:1;
        float:left;
        width:10px;        
        height:10px; 
        
      }
      36% {
        opacity:0;
        float:left;
        width:10px;        
        height:10px;
        
      }
      39% {
        opacity:1;
        float:left;
        width:10px;        
        height:10px;
        
      }
    43% {
      opacity:0;
      float:left;
      width:10px;        
      height:10px;
      
    }
    46% {
      opacity:1;
      float:left;
      width:10px;        
      height:10px;
      
    }
    49% {
      opacity:0;
      float:left;
      width:10px;        
      height:10px;
      
    }
    52% {
      opacity:1;
      float:left;
      width:10px;        
        height:10px;
      
    }
    55% {
        opacity:0;
        float:left;
        width:10px;        
        height:10px;
        
      }
      58% {
        opacity:1;
        float:left;
        width:10px;        
        height:10px; 
        
      }
      61% {
        opacity:0;
        float:left;
        width:10px;        
        height:10px;
        
      }
      64% {
        opacity:1;
        float:left;
        width:1px;        
        height:1px;         
      }
      75%{
        float:left;
        width: 100%;
      }
      85%
      {
          float:right;
          width:100%;
      }
      90%{
        opacity:1;
        float:right;
        width:1px;
      }
    100% {
      opacity:1;
      float:right;
      width:1px;
    }
  }
  
  @-o-keyframes animationRightToLeft {
    0% {
        opacity:1;
        
      }
      15% {
        opacity:1;        
        width:100%;        
        float: right;
      }
      20% {
        opacity:1;        
        width:100%;        
        float: left;
      }
      30% {
        opacity:1;        
        width:1px;        
        height:1px;        
        float: left;
      }
      33% {
        opacity:1;
        float:left;
        width:10px;        
        height:10px; 
        
      }
      36% {
        opacity:0;
        float:left;
        width:10px;        
        height:10px;
        
      }
      39% {
        opacity:1;
        float:left;
        width:10px;        
        height:10px;
        
      }
    43% {
      opacity:0;
      float:left;
      width:10px;        
      height:10px;
      
    }
    46% {
      opacity:1;
      float:left;
      width:10px;        
      height:10px;
      
    }
    49% {
      opacity:0;
      float:left;
      width:10px;        
      height:10px;
      
    }
    52% {
      opacity:1;
      float:left;
      width:10px;        
        height:10px;
      
    }
    55% {
        opacity:0;
        float:left;
        width:10px;        
        height:10px;
        
      }
      58% {
        opacity:1;
        float:left;
        width:10px;        
        height:10px; 
        
      }
      61% {
        opacity:0;
        float:left;
        width:10px;        
        height:10px;
        
      }
      64% {
        opacity:1;
        float:left;
        width:1px;        
        height:1px;         
      }
      75%{
        float:left;
        width: 100%;
      }
      85%
      {
          float:right;
          width:100%;
      }
      90%{
        opacity:1;
        float:right;
        width:1px;
      }
    100% {
      opacity:1;
      float:right;
      width:1px;
    }
  }
  
  @-ms-keyframes animationRightToLeft {
    0% {
        opacity:1;
        
      }
      15% {
        opacity:1;        
        width:100%;        
        float: right;
      }
      20% {
        opacity:1;        
        width:100%;        
        float: left;
      }
      30% {
        opacity:1;        
        width:1px;        
        height:1px;        
        float: left;
      }
      33% {
        opacity:1;
        float:left;
        width:10px;        
        height:10px; 
        
      }
      36% {
        opacity:0;
        float:left;
        width:10px;        
        height:10px;
        
      }
      39% {
        opacity:1;
        float:left;
        width:10px;        
        height:10px;
        
      }
    43% {
      opacity:0;
      float:left;
      width:10px;        
      height:10px;
      
    }
    46% {
      opacity:1;
      float:left;
      width:10px;        
      height:10px;
      
    }
    49% {
      opacity:0;
      float:left;
      width:10px;        
      height:10px;
      
    }
    52% {
      opacity:1;
      float:left;
      width:10px;        
        height:10px;
      
    }
    55% {
        opacity:0;
        float:left;
        width:10px;        
        height:10px;
        
      }
      58% {
        opacity:1;
        float:left;
        width:10px;        
        height:10px; 
        
      }
      61% {
        opacity:0;
        float:left;
        width:10px;        
        height:10px;
        
      }
      64% {
        opacity:1;
        float:left;
        width:1px;        
        height:1px;         
      }
      75%{
        float:left;
        width: 100%;
      }
      85%
      {
          float:right;
          width:100%;
      }
      90%{
        opacity:1;
        float:right;
        width:1px;
      }
    100% {
      opacity:1;
      float:right;
      width:1px;
    }
  }










  .lineLeftToRight{
    animation: animationLeftToRight ease-in-out 12s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
    animation-delay: 2.5s;
    -webkit-animation: animationLeftToRight ease-in-out 12s;
    -webkit-animation-iteration-count: infinite;
    -webkit-transform-origin: 50% 50%;
    -webkit-animation-delay: 2.5s;
    -moz-animation: animationLeftToRight ease-in-out 12s;
    -moz-animation-iteration-count: infinite;
    -moz-transform-origin: 50% 50%;
    -moz-animation-delay: 2.5s;
    -o-animation: animationLeftToRight ease-in-out 12s;
    -o-animation-iteration-count: infinite;
    -o-transform-origin: 50% 50%;
    -o-animation-delay: 2.5s;
    -ms-animation: animationLeftToRight ease-in-out 12s;
    -ms-animation-iteration-count: infinite;
    -ms-transform-origin: 50% 50%;
    
  }
  
  @keyframes animationLeftToRight{
    0% {
        opacity:1;
        
      }
      15% {
        opacity:1;        
        width:100%;        
        float: left;
      }
      20% {
        opacity:1;        
        width:100%;        
        float: right;
      }
      30% {
        opacity:1;        
        width:1px;        
        height:1px;        
        float: right;
      }
      33% {
        opacity:1;
        float:right;
        width:10px;        
        height:10px; 
        
      }
      36% {
        opacity:0;
        float:right;
        width:10px;        
        height:10px;
        
      }
      39% {
        opacity:1;
        float:right;
        width:10px;        
        height:10px;
        
      }
    43% {
      opacity:0;
      float:right;
      width:10px;        
      height:10px;
      
    }
    46% {
      opacity:1;
      float:right;
      width:10px;        
      height:10px;
      
    }
    49% {
      opacity:0;
      float:right;
      width:10px;        
      height:10px;
      
    }
    52% {
      opacity:1;
      float:right;
      width:10px;        
        height:10px;
      
    }
    55% {
        opacity:0;
        float:right;
        width:10px;        
        height:10px;
        
      }
      58% {
        opacity:1;
        float:right;
        width:10px;        
        height:10px; 
        
      }
      61% {
        opacity:0;
        float:right;
        width:10px;        
        height:10px;
        
      }
      64% {
        opacity:1;
        float:right;
        width:1px;        
        height:1px;         
      }
      75%{
        float:right;
        width: 100%;
      }
      85%
      {
          float:left;
          width:100%;
      }
      90%{
        opacity:1;
        float:left;
        width:1px;
      }
    100% {
      opacity:1;
      float:left;
      width:1px;
    }
  }
  
  @-moz-keyframes animationLeftToRight{
    0% {
        opacity:1;
        
      }
      15% {
        opacity:1;        
        width:100%;        
        float: left;
      }
      20% {
        opacity:1;        
        width:100%;        
        float: right;
      }
      30% {
        opacity:1;        
        width:1px;        
        height:1px;        
        float: right;
      }
      33% {
        opacity:1;
        float:right;
        width:10px;        
        height:10px; 
        
      }
      36% {
        opacity:0;
        float:right;
        width:10px;        
        height:10px;
        
      }
      39% {
        opacity:1;
        float:right;
        width:10px;        
        height:10px;
        
      }
    43% {
      opacity:0;
      float:right;
      width:10px;        
      height:10px;
      
    }
    46% {
      opacity:1;
      float:right;
      width:10px;        
      height:10px;
      
    }
    49% {
      opacity:0;
      float:right;
      width:10px;        
      height:10px;
      
    }
    52% {
      opacity:1;
      float:right;
      width:10px;        
        height:10px;
      
    }
    55% {
        opacity:0;
        float:right;
        width:10px;        
        height:10px;
        
      }
      58% {
        opacity:1;
        float:right;
        width:10px;        
        height:10px; 
        
      }
      61% {
        opacity:0;
        float:right;
        width:10px;        
        height:10px;
        
      }
      64% {
        opacity:1;
        float:right;
        width:1px;        
        height:1px;         
      }
      75%{
        float:right;
        width: 100%;
      }
      85%
      {
          float:left;
          width:100%;
      }
      90%{
        opacity:1;
        float:left;
        width:1px;
      }
    100% {
      opacity:1;
      float:left;
      width:1px;
    }
  }
  
  @-o-keyframes animationLeftToRight {
    0% {
        opacity:1;
        
      }
      15% {
        opacity:1;        
        width:100%;        
        float: left;
      }
      20% {
        opacity:1;        
        width:100%;        
        float: right;
      }
      30% {
        opacity:1;        
        width:1px;        
        height:1px;        
        float: right;
      }
      33% {
        opacity:1;
        float:right;
        width:10px;        
        height:10px; 
        
      }
      36% {
        opacity:0;
        float:right;
        width:10px;        
        height:10px;
        
      }
      39% {
        opacity:1;
        float:right;
        width:10px;        
        height:10px;
        
      }
    43% {
      opacity:0;
      float:right;
      width:10px;        
      height:10px;
      
    }
    46% {
      opacity:1;
      float:right;
      width:10px;        
      height:10px;
      
    }
    49% {
      opacity:0;
      float:right;
      width:10px;        
      height:10px;
      
    }
    52% {
      opacity:1;
      float:right;
      width:10px;        
        height:10px;
      
    }
    55% {
        opacity:0;
        float:right;
        width:10px;        
        height:10px;
        
      }
      58% {
        opacity:1;
        float:right;
        width:10px;        
        height:10px; 
        
      }
      61% {
        opacity:0;
        float:right;
        width:10px;        
        height:10px;
        
      }
      64% {
        opacity:1;
        float:right;
        width:1px;        
        height:1px;         
      }
      75%{
        float:right;
        width: 100%;
      }
      85%
      {
          float:left;
          width:100%;
      }
      90%{
        opacity:1;
        float:left;
        width:1px;
      }
    100% {
      opacity:1;
      float:left;
      width:1px;
    }
  }
  
  @-ms-keyframes animationLeftToRight {
    0% {
        opacity:1;
        
      }
      15% {
        opacity:1;        
        width:100%;        
        float: left;
      }
      20% {
        opacity:1;        
        width:100%;        
        float: right;
      }
      30% {
        opacity:1;        
        width:1px;        
        height:1px;        
        float: right;
      }
      33% {
        opacity:1;
        float:right;
        width:10px;        
        height:10px; 
        
      }
      36% {
        opacity:0;
        float:right;
        width:10px;        
        height:10px;
        
      }
      39% {
        opacity:1;
        float:right;
        width:10px;        
        height:10px;
        
      }
    43% {
      opacity:0;
      float:right;
      width:10px;        
      height:10px;
      
    }
    46% {
      opacity:1;
      float:right;
      width:10px;        
      height:10px;
      
    }
    49% {
      opacity:0;
      float:right;
      width:10px;        
      height:10px;
      
    }
    52% {
      opacity:1;
      float:right;
      width:10px;        
        height:10px;
      
    }
    55% {
        opacity:0;
        float:right;
        width:10px;        
        height:10px;
        
      }
      58% {
        opacity:1;
        float:right;
        width:10px;        
        height:10px; 
        
      }
      61% {
        opacity:0;
        float:right;
        width:10px;        
        height:10px;
        
      }
      64% {
        opacity:1;
        float:right;
        width:1px;        
        height:1px;         
      }
      75%{
        float:right;
        width: 100%;
      }
      85%
      {
          float:left;
          width:100%;
      }
      90%{
        opacity:1;
        float:left;
        width:1px;
      }
    100% {
      opacity:1;
      float:left;
      width:1px;
    }
  }










  