@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

@-moz-document url-prefix() {
    fieldset {
        display: table-cell;
    }
}


* {
    outline: none !important;
    text-transform:uppercase;
}

.mobile{
    display:none;
}

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    border: 0;
    margin: 0 !important;
    font-family: 'Futura W01 Book','Open Sans', 'Nanum Gothic', sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    background-color: #000;
}

body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    background-attachment: fixed !important;
    overflow: hidden;
}

    body.no-video .video-main {
        display: none !important;
    }


h1, h2 {
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
    z-index: 1000;
}

footer {
    position: relative;
    height: 100px;
    z-index: 40;
    overflow: hidden;
    display: none;
}

    footer .textLink {
        text-align: center;
        font-size: 24px;
        color: #b3b3b3;
        opacity: 0.75;
        text-decoration: none;
        display: block;
        -moz-transition-duration: 0.6667s;
        -o-transition-duration: 0.6667s;
        -webkit-transition-duration: 0.6667s;
        transition-duration: 0.6667s;
        -moz-transition-property: all;
        -o-transition-property: all;
        -webkit-transition-property: all;
        transition-property: all;
        -moz-transition-timing-function: ease-in-out;
        -o-transition-timing-function: ease-in-out;
        -webkit-transition-timing-function: ease-in-out;
        transition-timing-function: ease-in-out;
    }

        footer .textLink:hover {
            -moz-transform: scale(1.15) !important;
            -ms-transform: scale(1.15) !important;
            -o-transform: scale(1.15) !important;
            -webkit-transform: scale(1.15) !important;
            transform: scale(1.15) !important;
            color: #fff !important;
        }

.mainLogo {
    position: relative;
    opacity: 0.85;
    
}

    .mainLogo .menu {
        opacity: 0;
        position: absolute;
        top: 0;
        width: 250px;
        z-index: 120;
        margin-top: -25px;
        border: 1px solid #474747;
        -webkit-box-shadow: 0px 8px 26px 0px rgba(0,0,0,0.25);
        -moz-box-shadow: 0px 8px 26px 0px rgba(0,0,0,0.25);
        box-shadow: 0px 8px 26px 0px rgba(0,0,0,0.25);
    }

    .mainLogo:hover .menu, .mainLogo .menu.active {
        opacity: 1;
        background-color: rgba(0, 0, 0, 0.85);
        
    }

.menu ul {
    display: block;
    float: left;
    list-style-image: none;
    list-style-type: none;
    padding: 0 15px;
    width: 100%;
    margin: 0;
    border:0;
}

.menu li {
    width: 100%;
    float: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.85);
}

    .menu li:last-child {
        border: none;
    }

.menu a {
    color: #fff;
    float: left;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    font-size: 85%;
    height: 43px;
}

    .menu a:hover {
        font-size: 100%;
        color: #000;
        background-color: rgba(255,255,255,0.85);
    }


h1 {
    /*font-size: 72px;
    color: #ffffff;
    position: fixed;
    letter-spacing:3px;*/
    display: none;
}

.socialDiv {
 position: absolute;
    right: 10px;
    top: -250px;
    width: 55px;
    z-index: 80;
    
}

.socicon
{
    text-transform:none;
}

body.loaded .socialDiv{
    top:60px;
}

.socialDiv a{
    font-size:36px;
    padding:0 10px;
    opacity:0.85;
}
.socialDiv a:hover
{
    text-decoration:none;
 opacity:1;    
 color:#fff;
}




.subLogo img, #Intro img {
    width: 100%;
}

.mainLogo img {
    display: block;
    margin: 0 auto;
    width: 200px;
}

.toggleBackgroundSound {
    color: #fff;
    font-size: 20px;
    left: 0;
    padding: 15px;
    position: absolute;
    top: 0;
    z-index: 100;
    cursor:pointer;
}

/*.body-content {
    overflow: hidden;
    
}*/

/* INTRO */
#Intro {
    background-color: #000;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
}

    #Intro .jumbotron {
        background-color: #000;
    }

    #Intro #countdown {
        font-size: 7vw;
        color: #fff;
        opacity: 0.6;
        -moz-animation: 20s ease-out 0s normal forwards 800 fadeTextColors;
        -o-animation: 20s ease-out 0s normal forwards 800 fadeTextColors;
        -webkit-animation: 20s ease-out 0s normal forwards 800 fadeTextColors;
        animation: 20s ease-out 0s normal forwards 800 fadeTextColors;
    }

.introSeperatorBar {
    margin: 45px 0;
    height: 5px;
    background-color: #fff;
    width: 100%;
    float: left;
}

.something {
    color: #fff;
    display: inline-block;
    float: left;
    font-size: 3vw;
    font-weight: bold;
    letter-spacing: 2.5vw;
    text-align: center;
    width: 100%;
}
.with2000{
     color: #fff;
    display: inline-block;
    float: left;
    font-size: 9vw;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

#Intro #countdown span {
    font-size: 4vw;
    display: inline-block;
}

#Intro.closed {
    top: -2500px;
    -moz-transition-duration: 0.66667s;
    -o-transition-duration: 0.66667s;
    -webkit-transition-duration: 0.66667s;
    transition-duration: 0.66667s;
    -moz-transition-property: top;
    -o-transition-property: top;
    -webkit-transition-property: top;
    transition-property: top;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

#startDiscovery {
    -moz-animation: 20s ease-out 0s normal forwards 800 fadeColors;
    -o-animation: 20s ease-out 0s normal forwards 800 fadeColors;
    -webkit-animation: 20s ease-out 0s normal forwards 800 fadeColors;
    animation: 20s ease-out 0s normal forwards 800 fadeColors;
    border: medium none !important;
    /* ENABLE AFTER COUNTDOWN */
    /*display:none !important;*/
}

/* Impressum */
.contentContainer {
    color: #b3b3b3;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
    overflow-y: scroll;
    background-color: rgba(0,0,0,0.9);
    max-height: 0;
    opacity: 0;
}

.contentContainer h1 {
        color: #b3b3b3;
        display: block;
    }

    .contentContainer .close {
        cursor: pointer;
        background-color: rgba(0,0,0,0.9);
        height: 50px;
        padding: 12px;
        position: absolute;
        right: 0;
        top: 0;
        width: 50px;
        z-index: 20000;
        opacity:1;
    }

        .contentContainer .close span {
            font-size: 25px;
            color: #fff;
            cursor: pointer;
        }

.jumbotron {
    background-color: transparent;
     padding-left: 15px;
    padding-right: 15px;
    
}

.contentContainer.open {
    max-height: 2000px;
    opacity: 1;
}




.raegebogebg1 {
    background: url("../img/raegebogebg1.png") no-repeat fixed center top / cover rgba(0, 0, 0, 0);
}

.raegebogebg2 {
    background: url("../img/raegebogebg2.png") no-repeat fixed center top / cover rgba(0, 0, 0, 0);
}

.raegebogebg3 {
    background: url("../img/raegebogebg3.png") no-repeat fixed center top / cover rgba(0, 0, 0, 0);
}

.raegebogebg4 {
    background: url("../img/raegebogebg4.png") no-repeat fixed center top / cover rgba(0, 0, 0, 0);
}


.film2000bg1 {
    background: url("../img/film2000bg1.png") no-repeat fixed center top / cover rgba(0, 0, 0, 0);
}

.film2000bg2 {
    background: url("../img/film2000bg2.png") no-repeat fixed center top / cover rgba(0, 0, 0, 0);
}

.film2000bg3 {
    background: url("../img/film2000bg3.png") no-repeat fixed center top / cover rgba(0, 0, 0, 0);
}

.film2000bg4 {
    background: url("../img/film2000bg4.png") no-repeat fixed center top / cover rgba(0, 0, 0, 0);
}


.musicvideo2000bg1 {
    background: url("../img/musicvideo2000bg1.png") no-repeat fixed center top / cover rgba(0, 0, 0, 0);
}

.musicvideo2000bg2 {
    background: url("../img/musicvideo2000bg2.png") no-repeat fixed center top / cover rgba(0, 0, 0, 0);
}

.musicvideo2000bg3 {
    background: url("../img/musicvideo2000bg3.png") no-repeat fixed center top / cover rgba(0, 0, 0, 0);
}

.musicvideo2000bg4 {
    background: url("../img/musicvideo2000bg4.png") no-repeat fixed center top / cover rgba(0, 0, 0, 0);
}




/****VIDEO*****/
html, body, .wrap {
    height: 100%;
}

.wrap {
    height: auto !important;
    margin: 0 auto -100px;
    min-height: 100%;
    overflow: hidden;
    position: absolute;
    width: 100%;
    top: 0;
    
}

.layout-background-video .video-main {
    position: fixed;
}

.video-main {
    position: relative;
    top: 0;
    overflow: hidden;
    z-index: 10; /* for accessing the video by click */
    float: left;
}

    .video-main.closed {
        width: 0 !important;
    }

    .video-main.open {
        width: 100% !important;
        z-index: 30;
    }

        .video-main.open .darkLayer {
            background-color: #000 !important;
        }

        .video-main.open video {
            -moz-transform: translate(0,0) !important;
            -ms-transform: translate(0,0) !important;
            -o-transform: translate(0,0) !important;
            -webkit-transform: translate(0,0) !important;
            transform: translate(0,0) !important;
            width: 100% !important;
        }



    /*.video-main.video-main2 {
        right:0;
    }
    .video-main.video-main3 {
        margin:0 auto;
        right:0;
        left:0;
    }*/

    .video-main video {
        height: auto;
        left: 0;
        position: absolute;
        top: 0;
        -moz-transform: scale(1.4);
        -ms-transform: scale(1.4);
        -o-transform: scale(1.4);
        -webkit-transform: scale(1.4);
        transform: scale(1.4);
        /*-moz-transform: translate(-385px, 0px);
        -ms-transform: translate(-385px, 0px);
        -o-transform: translate(-385px, 0px);
        -webkit-transform: translate(-385px, 0px);
        transform: translate(-385px, 0px);*/
    }

    .video-main .darkLayer {
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 500% !important;
        z-index: 10000;
    }

.video-caption {
    position: absolute;
    opacity: 1;
    overflow: hidden;
    text-align: center;
    
}

        .hideItem {
        opacity: 0;
    }

    .video-caption .caption {
        bottom: -300px;
        margin: 0 auto;
        position: absolute;
        width: 100%;
        cursor: pointer;
        z-index: 70;
        padding: 50px 0;
    }

body.loaded .video-caption .caption {
    bottom: 0;
}

.video-caption1 {
    left: 0;
}

.video-caption3 {
    right:0;
}


.cover {
    margin-top: 50%;
   
    opacity: 1;
}

    .cover.active img {
        opacity: 0.2 !important;
    }

    .cover img {
        opacity: 0;
    }

body.loaded .cover img {
    opacity: 1;
}



.video-caption2 {
    right: 0;
}



.video-caption .play {
    opacity: 0;
}

.video-caption .caption:hover .play {
    margin-top: 20px;
    color: #b3b3b3;
    opacity: 1;
}

.video-caption .captionContent {
    opacity: 0;
}

body.loaded .video-caption .captionContent {
    opacity: 1;
}

.trackname {
    color: #fff;
}

.coverImage {
    height: 200px;
    left: 50%;
    margin: -100px;
    position: absolute;
    top: 50%;
    width: 200px;
    z-index: 80;
}



 

.info {
    background-color: rgba(0, 0, 0, 0.85);
    
    height: 200px;
    left: 50%;
    margin: -100px;
    position: absolute;
    top: 50%;
    width: 200px;
    z-index: 100;
    opacity: 0;
    display:table;
}

.info .menu{
    display:table-cell;
    vertical-align:middle;
}

.cover:hover .info {
    opacity: 1;
}

.video-caption .caption:hover .trackname {
    font-size: 24px;
    color: #b3b3b3;
}

.video-caption .caption:hover{
    background-color:rgba(0, 0, 0, 0.5);
}

/*.video-caption .cover {
    position: absolute;
    text-align: center;
    top: 40%;
    width: 100%;
    z-index: 70;
   
    
    margin:0 auto;
}*/


.video-main .darkLayer.darken {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
}

.video-main.active .darkLayer.darken {
    background-color: rgba(0, 0, 0, 0);
}

.video-main video + video {
    right: 0;
}

.layout-background-video .wrap {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

#ytmask {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}



/**********PROMO VIDEO************/
#promoVideo {
    overflow: hidden;
    top: 0;
    position: fixed;
    z-index: 0;
    opacity: 0;
}

    #promoVideo iframe {
    }

    #promoVideo.active {
        z-index: 1000;
        opacity: 1;
    }

.closePromoVideo {
    cursor: pointer;
    background-color: #000;
    height: 50px;
    padding: 12px;
    position: absolute;
    right: 0;
    top: -1500px;
    width: 50px;
    z-index: 20000;
    -moz-transition-duration: 0.66667s;
    -o-transition-duration: 0.66667s;
    -webkit-transition-duration: 0.66667s;
    transition-duration: 0.66667s;
    -moz-transition-property: top;
    -o-transition-property: top;
    -webkit-transition-property: top;
    transition-property: top;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}

    .closePromoVideo.active {
        top: 0;
    }



    .closePromoVideo span {
        font-size: 25px;
        color: #fff;
        cursor: pointer;
    }



    



     .toggleMobileMenu {
    background-color: rgba(0, 0, 0, 0.95);
    color: #fff;
    cursor: pointer;    
    margin: 10px 0;
    opacity: 1;
    padding: 15px;
    position: absolute;
    right: 10px;
    top: -150px;
    z-index: 120;
    cursor:pointer;
}
      .toggleMobileMenu.active
     {opacity:0;}
     body.loaded .toggleMobileMenu
     {
         top:0;
     }
    
.toggleMobileMenu .icon-bar {
    background-color: #fff;
    border-radius: 1px;
    display: block;
    height: 2px;
    width: 22px;
}

.toggleMobileMenu .icon-bar + .icon-bar {
    margin-top: 4px;
}

@media (max-height:700px) {
         .toggleMobileMenu
{
    display:block;
}

         .mainLogo .menu
{
    margin-top:10px;
    width:100%;
}

 body.loaded .mainLogo {
        width: 100% !important;
         padding:15px 0;
           position:relative !important; 
           margin:0 auto;
    }

        .mainLogo .menu li {
            width: 25%;
            border: none;
        }

        .mainLogo .menu a {
            font-size: 100%;
        }

    .menu a {
        height: auto;
    }
}

@media (max-width: 991px) {

    .socialDiv{
    right:10px;
    width:40px;
    
}

   

    body.loaded .socialDiv{
        top:70px;
    }
.socialDiv a{
    font-size:24px;
}

.mainLogo .menu
{
    margin-top:10px;
    width:100%;
}

 body.loaded .mainLogo {
        width: 100% !important;
         padding:10px 0;
           position:relative !important; 
           margin:0 auto;
    }

        .mainLogo .menu li {
            width: 25%;
            border: none;
        }

        .mainLogo .menu a {
            font-size: 100%;
        }

    .menu a {
        height: auto;
    }
   

     .toggleMobileMenu
{
    display:block;
}
    
   
     
   
}

/*IPAD GENERAL*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
    .toggleMobileMenu
{
    display:block;
}

    .toggleBackgroundSound
    {
        display:none;
    }
    .cover .info
     {
         opacity:0.75;
     }
    .video-caption{
        background-position: center center;

    }

      .video-caption .caption {
background-color: rgba(0,0,0,0.5);
}

      .something{
          letter-spacing:20px;
          }

    /*.video-caption1{
        background-size:120%;
        background-position:center center;
    }

    .video-caption2,.video-caption3
    {background-size: 200%;
background-position: center center;}*/


    

}

/*IPAD LANDSCAPE*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) { 
    .mainLogo .menu {
        width: 100%;
        margin-top: 30px;
       
    }

    body.loaded .mainLogo {
        width: 100% !important;
         padding:15px 0;
           position:relative !important; 
           margin:0 auto;
    }

        .mainLogo .menu li {
            width: 25%;
            border: none;
        }

        .mainLogo .menu a {
            font-size: 100%;
        }

    .menu a {
        height: auto;
    }}

/*IPAD Portrait*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) { 

    .mainLogo .menu{
        display:none;
    }

.cover .info
     {
         opacity:0.75;
     }

 
}


/* Menu Section*/
@media (max-width: 769px)
{
    
    body.loaded .mainLogo {
        margin: 0 auto;
        padding: 30px 0;
        width: 100%;
        position:absolute !important;
    }

    
   body.loaded .mainLogo .menu {
        margin-top:0;

        
       
    }

    

    

        .mainLogo .menu li {
            width: 25%;
            border: none;
        }

        .mainLogo .menu a {
            font-size: 100%;
        }

    .menu a {
        height: auto;
    }

   

.mobileMenu{
     background-color: rgba(0, 0, 0, 0.90);
    float: left;
    position: absolute;
    width:100%;
    z-index: 130;
    top:-250px;
    display:block;
}

.mobileMenu.active {
    top: 0;
   
}

.menu a.aThird {
    width: 33%;
    text-transform:none;
}
}




@media (max-height: 750px) {

    /* ProgressBar */

    #progressBar {
        position: fixed;
        z-index: 999999;
        top: 0;
        left: 0;
        width: 0%;
        height: 5px;
        background: #b91f1f;
        border-radius: 10%;
        -moz-transition: width 0.6667s ease-out,opacity 0.6667s linear;
        -ms-transition: width 0.6667s ease-out,opacity 0.6667s linear;
        -o-transition: width 0.6667s ease-out,opacity 0.6667s linear;
        -webkit-transition: width 0.6667s ease-out,opacity 0.6667s linear;
        transition: width 0.6667s ease-out,opacity 0.6667s linear;
    }

        #progressBar:before {
            position: absolute;
            content: '';
            top: 0;
            opacity: 1;
            width: 10%;
            right: 0px;
            height: 2px;
            box-shadow: #b91f1f 1px 0 6px 2px;
            border-radius: 50%;
        }

        #progressBar.active {
            width: 100%;
        }

        #progressBar.hide {
            opacity: 0;
        }
}


/*Disable Video for ipad*/
/*@media (max-width: 769px ) {
    .video-main {
        display: none;
    }
}*/

/* Ipad & Mobile Settings*/
@media (max-width: 767px) {

    .classic{
        display:none;
    }

    .mobile{
        display:block;
    }
    
    .introSeperatorBar{
        margin:25px 0;
    }
    .something{
        font-size:6vw;
        letter-spacing:10px;
    }
    .with2000
    {
        font-size:14vw;
    }

    .mainLogo .menu
    {
        display:none;
        
    }

    .menu ul
    {
        padding:0;
    }

    .toggleMobileMenu
    {
        margin:3px 0;
    }

    .coverImage {
        height: 150px;
        width: 150px;
        margin: -75px;
    }
    /*.cover:hover .coverImage
    {
        margin:-100px;
    }
    .cover:hover .coverImage img, .cover:hover .coverImage{
        height: 200px;
        width: 200px;
    }*/

        .coverImage img {
            width: 150px;
            height: 150px;
        }

    .info {
        height: 150px;
        width: 150px;
        margin: -75px;
        opacity:0.75;
    }

   

    .video-caption .caption {
        padding: 25px 0;
        

    }

    .video-caption .cover{
        position:relative;
        top:50%;
        margin-top:0;
    }


    


    body {
        overflow: visible;
    
    }

    .wrap {
        margin: 0 auto;
        min-height: 0;
        background-color:rgba(0,0,0,0.5);
    }

    

    .video-main {
        width: 100% !important;
        display:none !important;
        z-index:0;
    }

        .video-main video {
            -moz-transform: translate(0,0) !important;
            -ms-transform: translate(0,0) !important;
            -o-transform: translate(0,0) !important;
            -webkit-transform: translate(0,0) !important;
            transform: translate(0,0) !important;
            width: 100% !important;
            display:none !important;
            z-index:0;
        }

    .video-caption {
        width: 100% !important;
        background-size:auto;
        -webkit-background-size:auto;
        background-attachment: scroll;
        
    }

    .video-caption .caption

    {
        background-color:rgba(0,0,0,0.5);
    }

    .video-caption1, .video-main
    {
        top:200% !important;
    }
    .video-caption2, .video-main2 {
        top: 0 !important;
        left:0 !important;
        position:absolute;
    }

    .video-caption3, .video-main3 {
        top: 100% !important;
        left: 0 !important;
        position:absolute;
    }

    body.loaded .mainLogo {
        width: 100% !important;
         padding:15px 0;
           position:relative !important; 
    }

    .socicon
    {
        font-size:200%;
    }
    .mainLogo img{
        margin:0;
        width:100px;

       
    }

   
}
