html{
  font-family: 'San Francisco', 'Segoe UI';
}

header {
    position: fixed;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
    top:0;
  }
  
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }

  .startpage
  {
    position: relative;
    top: 50vh; 
    margin-top:-100px;     
  }

  .content{
    position: relative;
    top:100vh;
    height:100vh;
    background-color:rgba(255,255,255,0.325);
    z-index:10;
  }

  .content .container{
    z-index:20;
  }

  .lineAnimationContainer
  {
    position: relative;
    top: 92vh;
  }

  .lineAnimationContainerTop
  {
top: 1vh;
  }


  .lineAnimation{
    height: 2px;
    background-color: rgba(255,255,255,0.8);
    border-radius: 2px;
    position: relative;
    bottom: 25px;
    width: 2px;
    z-index:15;    
  }

  .lineRightToLeft
  {
    top:25px;
    float:right;
  }

  .lineLeftToRight
  {
    float:left;
  }

  
  
  .cardHolder
  {
    overflow: hidden;
    height: 162px;
    position: relative;
  }

  .card-img
  {    
    display: block;
    position: absolute;
    transition-property: transform, filter;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
  }
 
  
  .cardHolder .card-img:hover  {
    transform: scale(1.25);
    filter:blur(0.3336px);
  }

.card{
  border:0;
}
  
  @media (pointer: coarse) and (hover: none) {
    header {
      background: url('../img/noVideo.jpg') black no-repeat center center scroll;
    }
    header video {
      display: none;
    }
  }
  