<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".m4v" />
      <mimeMap fileExtension=".m4v" mimeType="video/m4v" />
      <remove fileExtension=".ogg" />
      <mimeMap fileExtension=".ogg" mimeType="video/ogg" />
      <remove fileExtension=".ogv" />
      <mimeMap fileExtension=".ogv" mimeType="video/ogg" />
      <remove fileExtension=".webm" />
      <mimeMap fileExtension=".webm" mimeType="video/webm" />
      <remove fileExtension=".oga" />
      <mimeMap fileExtension=".oga" mimeType="audio/ogg" />
      <remove fileExtension=".spx" />
      <mimeMap fileExtension=".spx" mimeType="audio/ogg" />
      <remove fileExtension=".svgz" />
      <mimeMap fileExtension=".svgz" mimeType="image/svg+xml" />
      <remove fileExtension=".eot" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      <remove fileExtension=".otf" />
      <mimeMap fileExtension=".otf" mimeType="font/otf" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="font/x-woff" />
    </staticContent>
        <modules>
            <remove name="ScriptModule-4.0" />
            <remove name="UrlRoutingModule-4.0" />
            <add name="ErrorHandlerModule" type="System.Web.Mobile.ErrorHandlerModule, System.Web.Mobile, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" preCondition="managedHandler" />
            <add name="ServiceModel" type="System.ServiceModel.Activation.HttpModule, System.ServiceModel, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="managedHandler" />
        </modules>
        <handlers>
            <add name="*.xoml_*" path="*.xoml" verb="*" type="System.ServiceModel.Activation.HttpHandler, System.ServiceModel, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="integratedMode,runtimeVersionv2.0" />
            <add name="*.svc_*" path="*.svc" verb="*" type="System.ServiceModel.Activation.HttpHandler, System.ServiceModel, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="integratedMode,runtimeVersionv2.0" />
            <add name="*.asmx_*" path="*.asmx" verb="*" type="System.Web.Services.Protocols.WebServiceHandlerFactory, System.Web.Services, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" preCondition="integratedMode,runtimeVersionv2.0" />
            <add name="*.rem_*" path="*.rem" verb="*" type="System.Runtime.Remoting.Channels.Http.HttpRemotingHandlerFactory, System.Runtime.Remoting, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="integratedMode,runtimeVersionv2.0" />
            <add name="*.soap_*" path="*.soap" verb="*" type="System.Runtime.Remoting.Channels.Http.HttpRemotingHandlerFactory, System.Runtime.Remoting, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="integratedMode,runtimeVersionv2.0" />
        </handlers>
        <validation validateIntegratedModeConfiguration="false" />
        <httpErrors>
            <remove statusCode="412" subStatusCode="-1" />
            <remove statusCode="406" subStatusCode="-1" />
            <remove statusCode="405" subStatusCode="-1" />
            <remove statusCode="404" subStatusCode="-1" />
            <remove statusCode="401" subStatusCode="-1" />
            <remove statusCode="403" subStatusCode="-1" />
            <remove statusCode="500" subStatusCode="-1" />
            <remove statusCode="501" subStatusCode="-1" />
            <remove statusCode="502" subStatusCode="-1" />
            <remove statusCode="400" />
            <error statusCode="400" path="C:\WINDOWS\help\iisHelp\common\400.htm" />
            <remove statusCode="401" subStatusCode="1" />
            <error statusCode="401" subStatusCode="1" path="C:\WINDOWS\help\iisHelp\common\401-1.htm" />
            <remove statusCode="401" subStatusCode="2" />
            <error statusCode="401" subStatusCode="2" path="C:\WINDOWS\help\iisHelp\common\401-2.htm" />
            <remove statusCode="401" subStatusCode="3" />
            <error statusCode="401" subStatusCode="3" path="C:\WINDOWS\help\iisHelp\common\401-3.htm" />
            <remove statusCode="401" subStatusCode="4" />
            <error statusCode="401" subStatusCode="4" path="C:\WINDOWS\help\iisHelp\common\401-4.htm" />
            <remove statusCode="401" subStatusCode="5" />
            <error statusCode="401" subStatusCode="5" path="C:\WINDOWS\help\iisHelp\common\401-5.htm" />
            <remove statusCode="401" subStatusCode="7" />
            <error statusCode="401" subStatusCode="7" path="C:\WINDOWS\help\iisHelp\common\401-1.htm" />
            <remove statusCode="403" subStatusCode="1" />
            <error statusCode="403" subStatusCode="1" path="C:\WINDOWS\help\iisHelp\common\403-1.htm" />
            <remove statusCode="403" subStatusCode="2" />
            <error statusCode="403" subStatusCode="2" path="C:\WINDOWS\help\iisHelp\common\403-2.htm" />
            <remove statusCode="403" subStatusCode="3" />
            <error statusCode="403" subStatusCode="3" path="C:\WINDOWS\help\iisHelp\common\403-3.htm" />
            <remove statusCode="403" subStatusCode="4" />
            <error statusCode="403" subStatusCode="4" path="C:\WINDOWS\help\iisHelp\common\403-4.htm" />
            <remove statusCode="403" subStatusCode="5" />
            <error statusCode="403" subStatusCode="5" path="C:\WINDOWS\help\iisHelp\common\403-5.htm" />
            <remove statusCode="403" subStatusCode="6" />
            <error statusCode="403" subStatusCode="6" path="C:\WINDOWS\help\iisHelp\common\403-6.htm" />
            <remove statusCode="403" subStatusCode="7" />
            <error statusCode="403" subStatusCode="7" path="C:\WINDOWS\help\iisHelp\common\403-7.htm" />
            <remove statusCode="403" subStatusCode="8" />
            <error statusCode="403" subStatusCode="8" path="C:\WINDOWS\help\iisHelp\common\403-8.htm" />
            <remove statusCode="403" subStatusCode="9" />
            <error statusCode="403" subStatusCode="9" path="C:\WINDOWS\help\iisHelp\common\403-9.htm" />
            <remove statusCode="403" subStatusCode="10" />
            <error statusCode="403" subStatusCode="10" path="C:\WINDOWS\help\iisHelp\common\403-10.htm" />
            <remove statusCode="403" subStatusCode="11" />
            <error statusCode="403" subStatusCode="11" path="C:\WINDOWS\help\iisHelp\common\403-11.htm" />
            <remove statusCode="403" subStatusCode="12" />
            <error statusCode="403" subStatusCode="12" path="C:\WINDOWS\help\iisHelp\common\403-12.htm" />
            <remove statusCode="403" subStatusCode="13" />
            <error statusCode="403" subStatusCode="13" path="C:\WINDOWS\help\iisHelp\common\403-13.htm" />
            <remove statusCode="403" subStatusCode="15" />
            <error statusCode="403" subStatusCode="15" path="C:\WINDOWS\help\iisHelp\common\403-15.htm" />
            <remove statusCode="403" subStatusCode="16" />
            <error statusCode="403" subStatusCode="16" path="C:\WINDOWS\help\iisHelp\common\403-16.htm" />
            <remove statusCode="403" subStatusCode="17" />
            <error statusCode="403" subStatusCode="17" path="C:\WINDOWS\help\iisHelp\common\403-17.htm" />
            <remove statusCode="403" subStatusCode="18" />
            <error statusCode="403" subStatusCode="18" path="C:\WINDOWS\help\iisHelp\common\403.htm" />
            <remove statusCode="403" subStatusCode="19" />
            <error statusCode="403" subStatusCode="19" path="C:\WINDOWS\help\iisHelp\common\403.htm" />
            <remove statusCode="403" subStatusCode="20" />
            <error statusCode="403" subStatusCode="20" path="C:\WINDOWS\help\iisHelp\common\403-20.htm" />
            <remove statusCode="404" subStatusCode="2" />
            <error statusCode="404" subStatusCode="2" path="C:\WINDOWS\help\iisHelp\common\404b.htm" />
            <remove statusCode="404" subStatusCode="3" />
            <error statusCode="404" subStatusCode="3" path="C:\WINDOWS\help\iisHelp\common\404b.htm" />
            <remove statusCode="407" />
            <error statusCode="407" path="C:\WINDOWS\help\iisHelp\common\407.htm" />
            <remove statusCode="414" />
            <error statusCode="414" path="C:\WINDOWS\help\iisHelp\common\414.htm" />
            <remove statusCode="415" />
            <error statusCode="415" path="C:\WINDOWS\help\iisHelp\common\415.htm" />
            <remove statusCode="500" subStatusCode="12" />
            <error statusCode="500" subStatusCode="12" path="C:\WINDOWS\help\iisHelp\common\500-12.htm" />
            <remove statusCode="500" subStatusCode="13" />
            <error statusCode="500" subStatusCode="13" path="C:\WINDOWS\help\iisHelp\common\500-13.htm" />
            <remove statusCode="500" subStatusCode="15" />
            <error statusCode="500" subStatusCode="15" path="C:\WINDOWS\help\iisHelp\common\500-15.htm" />
            <remove statusCode="500" subStatusCode="16" />
            <error statusCode="500" subStatusCode="16" path="C:\WINDOWS\help\iisHelp\common\500.htm" />
            <remove statusCode="500" subStatusCode="17" />
            <error statusCode="500" subStatusCode="17" path="C:\WINDOWS\help\iisHelp\common\500.htm" />
            <remove statusCode="500" subStatusCode="18" />
            <error statusCode="500" subStatusCode="18" path="C:\WINDOWS\help\iisHelp\common\500.htm" />
            <remove statusCode="500" subStatusCode="19" />
            <error statusCode="500" subStatusCode="19" path="C:\WINDOWS\help\iisHelp\common\500.htm" />
            <error statusCode="404" prefixLanguageFilePath="" path="C:\WINDOWS\help\iisHelp\common\404b.htm" />
            <error statusCode="405" prefixLanguageFilePath="" path="C:\WINDOWS\help\iisHelp\common\405.htm" />
            <error statusCode="406" prefixLanguageFilePath="" path="C:\WINDOWS\help\iisHelp\common\406.htm" />
            <error statusCode="412" prefixLanguageFilePath="" path="C:\WINDOWS\help\iisHelp\common\412.htm" />
        </httpErrors>
  </system.webServer>
</configuration>